/*Import Google style -Inter*/
/*@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');*/


:root {
    --color-primary: #0a3a39;
    --color-secondary: rgb(210, 255, 255);
    --color-accent: #128280;
    --color-text: #0a3a39;
    --color-btn: #0e4f4e;
    --font-family-base: "Inter", sans-serif;
    --font-size-base: 1rem;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;

}



* {
    font-family: var(--font-family-base);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    background-color: var(--color-secondary);
    transition: background-color 0.5s, color 0.3s;
    color: var(--color-text);
    height: 100vh;

}



.Header {
    background-color: var(--color-accent);
    color: white;
    height: 60px;
    padding: var(--spacing-small) 0;
    position: sticky;
    top: 0;
    z-index: 99;

}

.Header-wrapper {
    float: left;
    height: inherit;

}

.HeaderLogoTitle {
    margin: var(--spacing-small);
    text-decoration: none;
    color: white;

}

.Header-span {
    color: #03005b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-decoration: none;
    list-style: none;

}

.Header-a {
    text-decoration: none;
    color: white;
}

.Nav {
    padding: 0;
    margin: 0;

}



.Nav-ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}

/*.Nav-ul-ul{
    gap:20px;
}*/

.Nav-li {
    float: right;
    list-style: none;
    margin: 0;


}

.Nav-a {
    display: block;
    padding: var(--spacing-medium);
    font-size: 1.2rem;
    list-style: none;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s, padding 0.5s, border-radius 0.5s;
}

.Nav-a:hover {
    background-color: var(--color-btn);
    padding: calc(var(--spacing-medium) - 0.5rem);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}




.Wrapper-h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.8rem;

    font-weight: 800;


}

.Wrapper-p {
    text-align: center;
    margin: 20px 0;
    font-size: 1.3rem;

    font-weight: 600;

}


.Main {
    background-color: var(--color-secondary);
}


.Main-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 40px;
}

.Main-ul {
    display: flex;
    flex-direction: row;
    max-width: 100%;

}


.Main-li {
    width: 26rem;
    max-width: 100%;
    list-style: none;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s ease;
    border: 2px solid #0a3a39;


}

/*--------Parde JS Carousel estilos----------*/

#news-carousel.Main-li:nth-child(3) {
    transform: scale(1.3);
    /* Hace que la tercera noticia sea un 20% más grande */
    z-index: 1;
    /* Para que se vea por encima de las otras */
    transition: transform 0.5s ease-in-out;
}

#news-carousel.active-slide {
    z-index: 1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#news-carousel .inactive-slide {
    transform: scale(0.9);
    /* Reduce el tamaño de los otros slides */
    opacity: 0.7;
    /* Reduce la visibilidad de los otros slides */
    transition: opacity 0.5s ease-in-out;
}

/*----------------------------------------*/


.Main-a {

    display: block;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    min-height: 80%;
    color: #333;


    /*mantener siempre una altura de 80% del contenedor en el que se encuentra.*/



}

.Main-img--main {
    max-width: 100%;
    aspect-ratio: 16/9;
    /*mantener siempre una proporción de 16:9, sin importar el tamaño del contenedor en el que se encuentre.*/
    border-radius: 10px;
    object-fit: cover;
    margin: 10px 0 10px;





}

.Main-p {
    /*position: relative;
left:25px;
*/
    color: #0a3a39;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 550;
    margin: 16px 0 18px;
    background: var(--color-primary);
    width: fit-content;
    border-radius: 50px;
    color: white;


}

.Main-h2 {
    font-size: 1.19rem;
    color: #000;
    font-weight: 700;
}

/*.Main-section-ul-li-a-btn {
    height: 39px;
    width: 38px;
    border-radius: 50%;
    margin: 30px 0 5px;
    border: 3.5px solid #27848f;
    color: #115b58;
    cursor: pointer;
    background: none;
    transform: rotate(-90deg);
}*/













/*----------------------------*/
/*    BTN SIEMPRE INFORMADO   */
/*----------------------------*/

.Main-btn {
    text-decoration: none;
    margin: 5rem;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    background-color: #128280;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.Main-btn:hover {

    background-color: #0d5855;
    transition: background-color 0.3s ease-in-out;


}

.Main-li-btn {
    list-style: none;
    margin: 0 20px;
    padding: 20px;
}


.Main-select{
    width: 100%;
    padding: 12px;
    border: 1px solid #03005b;
    border-radius: 5px;
    font-size: 1rem;
    margin: 10px 0;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #0a3a39;
}
.Main-option{
    
    color: #f4f9fb;
    padding: 20px;
    border-radius: 2px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #f4f9fb;
    
}

.Main-textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #03005b;
    border-radius: 5px;
    font-size: 1rem;
    margin: 10px 0;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #0a3a39;
    resize: vertical;
}

.Main-option--isActive{
    background-color:var(--color-primary);
    border-bottom: 3px solid #f4f9fb;
    

}
























/*--------------------------------------------*/
/*       Noticas dentro de Caroussel         */
/*------------------------------------------*/


.Main-ul--publicaciones {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;


}

.Main-li--publicaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100rem;
    height: 45rem;
    margin: 4em;
    padding: 4em;
    background: #f4f9fb;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s ease;
    border: 2px solid #0a3a39;
}



.Main-h2--publicaciones {
    font-size: 2.8rem;
    font-weight: 800;
    margin: 20px;

    text-align: center;
    color: var(--color-text);
    position: relative;
    left: 0.5em;



}



.Main-img--publicaciones {
    max-width: 35rem;
    border-radius: 20px;
    object-fit: cover;


}

.Main-p--publicaciones {
    margin: 14px;
    text-align: center;
    background-color: #f4f9fb;
    color: var(--color-text);
    font-size: 1.1rem;


}

.Main-img--finanzas {
    height: 22rem;
    border-radius: 10px;
    width: 70%;


}

.Main-img--oportunidades {
    max-width: 35rem;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 10px;
    height: 20rem;

}

.Main-img--vapers {
    max-width: 35rem;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 10px;
    height: 20rem;


}

.Main-img--relaciones {
    max-width: 35rem;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 10px;
    height: 22rem;
}

















/*-----------------------------------*/
/*            Articulo               */
/*-----------------------------------*/

.Article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 20px;
    /*border-bottom: 1px solid gray;*/

    /*border: solid #ff520e;*/
    /*Para ver la medida de la seccion,si sobresale o no*/
}

.Article-p {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 20px;
    text-align: right;
    color: var(--color-text);
    text-align: center;
    gap: 20px;
}

.Article-p--active {
    font-weight: 600;
}

.Article-h2 {
    font-size: 2.8rem;
    font-weight: 800;
    margin: 20px;

}

.Article-h3 {
    color: var(--color-text);
    font-size: 2rem;
    text-align: center;
}

.Article-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    float: left;
    margin: 20px;
}

.Article-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80rem;
    height: 28rem;
    margin: 20px;
    padding: 22px;
    background: #f4f9fb;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s ease;
    border: 2px solid #0a3a39;

}

.Article-img {
    width: 100%;
    max-width: 30em;
    border-radius: 10px;

}

.Article-img--article {
    max-width: 24em;
    max-height: 20rem;
    border-radius: 25px;
    padding: 20px;

}







/*------------------------------------*/
/*       Consejos Landing page        */
/*------------------------------------*/



.Main-h2--consejos {
    font-size: 2.8rem;
    font-weight: 800;
    margin: 20px;
    text-align: center;

}

.Main-ul {
    text-align: center;
    list-style: none;
    display: flex;
    margin: 5rem;
    gap: 20px;
    position: relative;
    /* para centrarlos */
    left: 2rem;


}

.Main-li--consejos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4f9fb;
    border-radius: 10px;
    border-color: #072d2d;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    color: #0a3a39;
    font-size: 1.6rem;
    gap: 20px;
    padding: 20px;
    margin: 30px;
    text-transform: uppercase;
    font-weight: 600;

}





.Main-p--consejos {
    text-transform: lowercase;
    margin: 10px;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--color-text);
    line-height: 1.5;
    text-align: center;
    background: none;


}


/*------------------------------------*/
/*      Formulario Landing Page       */
/*------------------------------------*/

.Main-h2--formulario {
    font-size: 2rem;
    font-weight: 800;
    margin: 20px;
    text-align: center;
    color: var(--color-text);
    font-weight: 800;
    text-align: center;
    margin: 20px;
}

.Main-btn--formulario {}













/*-----------------------------------------*/
/*      Acerca de Nosotros (About)         */
/*-----------------------------------------*/

.Main--acerca-de {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 50px;
}

.Main-h2--acerca-de {
    font-size: 2.8rem;
    color: #0a3a39;
    font-weight: 800;
    margin: 20px;
    text-align: center;
    position: relative;
    bottom: 88px;
    left: 0.6em;




}

.Main-section--acerca-de {
    font-size: 2.8rem;
    color: #0a3a39;
    font-weight: 800;
    margin: 20px;
    text-align: center;
    position: relative;
    bottom: 88px;
}

.Main-ul--acerca-de {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 50px;
    padding: 20px;
    width: 80%;

}

.Main-li--acerca-de {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4f9fb;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    color: #0a3a39;
    font-size: 1.6rem;
    gap: 20px;
    padding: 20px;
    width: fit-content;
    margin: 30px;
    font-weight: 700;
}


.Main-p--acerca-de {
    /*text-transform: lowercase;*/
    margin: 10px;
    font-weight: 550;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    background-color: var(--color-accent);
    padding: 45px;
    box-shadow: var(--color-accent) 0px 5px 10px 0px;

}

.Main-figure {
    width: 25Wrem;
    height: 20rem;
    border-radius: 25%;
    margin: 30px;
    box-shadow: 0 5px 10px rgba(9, 61, 73, 0.5);
}


.Main-figcaption {
    font-size: 0.95rem;
    color: #0a3a39;
    text-align: center;
    margin: 10px;
    position: relative;
    bottom: 20px;
}




/* ------------------------------*/
/*          Acordeon            */
/* ----------------------------*/


.Main-section--faq {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.Main-h2--faq {
    font-size: 3rem;
    margin: 1rem 0rem;
    color: var(--color-text);



}

.Main-p--faq {
    font-size: 1.4rem;
    margin: 3rem;
    line-height: 1.5;
    color: var(--color-text);
    background: var(--color-secondary);
    padding: 15px;
}

.Container {
    width: 1250px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 2px solid #000;
    transition: transform 0.6s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: auto;
    position: relative;
    bottom: 30px;


}

.Container:hover {
    /*transform: scale(1.05);*/
    border: 3px solid #120064;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);





}

.Container-pregunta {
    font-size: 1.6rem;
    color: #072d2d;
    margin-bottom: 1rem;
    font-weight: 700;
    transition: padding 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 2px;


}




.Container-pregunta:hover {
    color: #120064;
    cursor: pointer;
    transform: scale(1.05);
    border: 2px solid #120064;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);


}

.h3-pregunta {
    font-size: 1.4rem;
}

.Container-respuesta {
    font-size: 1.1rem;
    font-weight: 600;
    min-width: 700px;
    transition: max-height 0.3s ease-in-out;
    display: none;
    color: #072d2d;
    font-weight: 600;


}


.Container-respuesta.visible {
    display: block;
}















/*-----------------------------------*/
/*            Contacto               */
/*-----------------------------------*/

.Main-section--contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 50px;
    height: 100vh;
}

.Main-h2--contacto {
    font-size: 2rem;
    color: #0a3a39;
    font-weight: 800;
    margin: 20px;
    text-align: center;
}

.Main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 100px;
    background: #f4f9fb;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #0a3a39;
}

.Main-form:hover {
    box-shadow: 0 10px 10px rgba(19, 0, 159, 0.5);
    transition: 0.5s ease-in-out;

}

.Main-label {
    font-size: 1.2rem;
    color: #072d2d;
    font-weight: 600;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Gill Sans', sans-serif;
}

.Main-input {
    width: 100%;
    padding: 12px;
    margin: 10px;
    display: inline-block;
    border: 1.5px solid #03005b;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   

}

.Main-input:hover {
    background-color: rgb(201, 199, 199);
    transition: background-color 0.4s ease-in-out;
}

.Main-input--isActive {
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    background-color: #128280;
    border: none;
    border-radius: 12px;
    padding: 8px 25px;
    margin: 15px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);

}

.Main-input--isActive:hover {
    background-color: #0a3a39;
    color: #fff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out;

}




/*------------------------------------*/
/*       BTN-DARK                     */
/*------------------------------------*/






/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

header.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

footer.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

main.dark-mode {
    background-color: #121212;
    color: #ffffff;
}



/* Estilos para el botón */
.Container-btn {
    background-color: black;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 22px 25px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    transition: background-color 0.3s, color 0.3s;
}

.Container-btn:hover {
    background-color: #333;
    color: #fff;
}



.Container-dark {
    padding: 10px;
    margin: 20px;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;




}

.Container-btn-dark {
    background-color: black;
    color: #fff;
    border-radius: 50px;
    border: none;
    padding: 25px;
    cursor: pointer;
}









/*-----------------------------------*/
/*            Footer                 */
/*-----------------------------------*/

.Footer {
    background-color: #128280;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.Footer-h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
    background-color: #f4f9fb;
    color: #072d2d;
    border-radius: 5px;
    padding: 5px;

}

.Footer-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 5px;

}

.Footer-ul {
    display: flex;
    list-style: none;
    margin: 20px;
    gap: 10px;
}

.Footer-li {
    margin: 10px;
    text-transform: uppercase;
    font-weight: 700;

    cursor: pointer;
}

.Footer-a {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;



}

.Footer-a:hover {
    color: #03005b;
    transition: color 0.2s ease-in-out;
    transform: scale(1.05);

}