/*Import Google style -Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');




* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.Body {
    background-color: rgb(210, 255, 255);
    /*width: 100vw;*/

}


.Header * {
    color: white;
}

.Header {
    background-color: rgb(61, 172, 184);
    height: 60px;
    padding: 10px 0px;
    position: sticky;
    top: 0;
    z-index: 99;
    /*hace que el buton de la imagen ,no se vea en el header */
}

.Header-logo {
    float: left;
    /* Esta propiedad hace que el elemento .Header-logo se desplace hacia la izquierda dentro de su contenedor */
    height: inherit;
    /*El elemento .Header-logo tendrá la misma altura que su contenedor padre .Header*/
}

.Header-logo-title {
    margin: 5px;
}

.Header-logo-span {
    color: rgb(0, 0, 96);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.Header-logo-span-link {
    text-decoration: none;

}

.Nav-ul {
    float: right;
    list-style: none;
    padding: 0px;
    margin: 0px;


}

.Nav-ul-li {
    float: left;

}

.Nav-ul-li-a {
    display: block;
    padding: 14px 16px;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.5s, padding 0.5s, border-radius 0.5s;
    /*para que se mas sueve cuendo quites el mouse*/

}

.Nav-ul-li-a:hover {
    background-color: rgb(36, 114, 122);
    padding: 9px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*Aqui se le da el efecto de sombra al hover*/
}

.Div-h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.8rem;
    color: #0a3a39;
    font-weight: 800;


}

.Div-p {
    text-align: center;
    margin: 20px 0;
    font-size: 1.4rem;
    color: #0a3a39;
    font-weight: 600;

}


.Main {
    /* height: 100vh;*/

}



.Main-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 40px;
}

.Main-section-ul {
    display: flex;
    flex-direction: row;
    max-width: 100%;

}

.Main-section-ul-li {
    width: 26rem;
    max-width: 100%;
    list-style: none;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s ease;
    border: 2px solid #0a3a39;


}

.Main-section-ul-li-a {

    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);


}

.Main-section-ul-li-a-img {
    max-width: 100%;
    aspect-ratio: 16/9;
    /*mantener siempre una proporción de 16:9, sin importar el tamaño del contenedor en el que se encuentre.*/
    border-radius: 10px;
    object-fit: cover;





}

.Main-section-ul-li-a-p {
    /*position: relative;
left:25px;
*/
    color: #0a3a39;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #68D8D6;
    width: fit-content;
    border-radius: 50px;
}

.Main-section-ul-li-a-h2 {
    font-size: 1.19rem;
    color: #000;
    font-weight: 700;
}

.Main-section-ul-li-a-btn {
    height: 39px;
    width: 38px;
    border-radius: 50%;
    margin: 30px 0 5px;
    border: 3.5px solid #27848f;
    color: #115b58;
    cursor: pointer;
    background: none;
    transform: rotate(-90deg);
}

.Main-section-ul-li-a-btn:hover {
    background-color: #27848f;
    color: #fff;
    transition: background-color 0.2s ease;
    /*Esto hace que cuando pases el mouse por encima que cambie el color del box de la flecha y  el color de la flecha */

    /*height: 100%;
    width: 100%;*/
    /*El hover no ocupa 100% de su tamaño !? */

    /*Solucion de problema de espacio-con un padding de 9px no se nota que el color azul mas osuro del hover no ocupa 100% de su espacio,ya que hace el efecto que ven.*/
}

.Main-section-h2 {
    font-size: 2rem;
    color: #0a3a39;
    font-weight: 800;
    margin: 20px;
    float: left;
}











/*----------------------------*/
/*    BTN SIEMPRE INFORMADO   */
/*----------------------------*/

.Main-a {
    text-decoration: none;
    margin: 45px;
    /*Quita la linea de abajo del buton "SIEMPRE INFORMADO" */
}

.Main-btn {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    background-color: #128280;
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 10px 10px rgba(14, 12, 116, 0.5);

}

.Main-btn:hover {
    transform: scale(1.10);
    box-shadow: 0 8px 15px rgba(28, 9, 173, 0.2);
}




















/*-----------------------------------*/
/*  Parte de noticias del carrousel  */
/*-----------------------------------*/
.Main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 20px;
}

.Main-section--section {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 20px;


}

.Main-section-h2--h2 {
    font-size: 2.4rem;
    /* border-bottom: 1px solid gray;*/
    color: #0a3a39;
    font-weight: 800;
    margin: 20px;
    padding: 10px;
    position: relative;
    left: 18rem;



}

.Main-section-ul--ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    position: relative;
    top: 2em;
    left: 10em;


}

.Main--li {}


.Main-section-li-h2 {
    display: inline-block;
    font-size: 1.5rem;
    color: #0a3a39;
    font-weight: 800;
    margin: 20px;
    padding: 10px;
}

.Main-section-img {
    width: 150%;
    max-width: 30em;
    border-radius: 10px;
    object-fit: cover;
    margin: 20px;
    position: absolute;
    top: 7em;
    right: 40em;
    box-shadow: 0 10px 10px rgba(69, 6, 186, 0.5);
}















/*-----------------------------------*/
/*            Articulo               */
/*-----------------------------------*/

.Main-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 20px;
    /*border-bottom: 1px solid gray;*/

    /*border: solid #ff520e;*/
    /*Para ver la medida de la seccion,si sobresale o no*/
}

.Article-p {
    font-size: 1.4rem;
    color: #0e4342;
    font-weight: 600;
    margin: 20px;
    text-align: center;
}

.Main-article-h2 {
    font-size: 2.8rem;
    color: #0a3a39;
    font-weight: 800;
    margin: 20px;

}

.Main-article-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.Main-article-ul-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 26rem;
    height: 23rem;
    margin: 20px;
    padding: 22px;
    background: #f4f9fb;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s ease;
    border: 2px solid #0a3a39;

}

.Main-article-ul-li:hover {
    transform: scale(1.04);
    box-shadow: 0 10px 10px rgba(19, 0, 159, 0.5);
    transition: 0.5s ease-in-out;
}

.Main-article-ul-li-img {
    max-width: 100%;
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(9, 61, 73, 0.5);

}

.Main-article-ul-li-p {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 14px;
    text-align: center;
    font-size: 1.2rem;
    color: #072d2d;
    font-weight: 600;

}

.Main-article-ul-li-btn {
    font-size: 0.7rem;
    margin: 10px;
    display: inline-block;
    background-color: #128280;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 30px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    /*La transición hace que los cambios en las propiedades transform y box-shadow sean suaves y graduales en lugar de instantáneos.*/
}

.Main-article-ul-li-btn:hover {
    transform: scale(1.10);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}





/*------------------------------------*/
/*       Consejos Landing page        */
/*------------------------------------*/

.Section-advice {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 50px;
    position: relative;
    bottom: 43px;

}

.Section-h2-advice {
    font-size: 2.8rem;
    color: #0a3a39;
    font-weight: 800;
    margin: 20px;
    text-align: center;

}

.Section-ul-advice {
    text-align: center;
    list-style: none;
    display: flex;
    margin: 5rem;
    gap: 20px;
    position: relative;
    /* para centrarlos */
    left: 2rem;

}

.Section-ul-li-advice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4f9fb;
    border-radius: 10px;
    border-color: #072d2d;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    color: #0a3a39;
    font-size: 1.6rem;
    gap: 20px;
    padding: 20px;
    margin: 30px;
    text-transform: uppercase;
    font-weight: 600;
}




.Section-ul-li-p-advice {
    text-transform: lowercase;
    margin: 10px;
    font-weight: 400;
    font-size: 1.2rem;
    color: #072d2d;
    line-height: 1.5;


}













/*-----------------------------------------*/
/*      Acerca de Nosotros (About)         */
/*-----------------------------------------*/
.Main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 50px;
}

.Section-h2-about {
    font-size: 2.8rem;
    color: #0a3a39;
    font-weight: 800;
    margin: 20px;
    text-align: center;
    position: relative;
    bottom: 88px;



}

.Section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 50px;
    position: relative;
    bottom: 3.5em;
}

.Section-ul-about {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 50px;
    padding: 20px;
    width: 80%;

}

.Section-ul-li-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4f9fb;
    border-radius: 10px;
    border-color: #072d2d;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    color: #0a3a39;
    font-size: 1.6rem;
    gap: 20px;
    padding: 20px;
    width: fit-content;
    margin: 30px;
    font-weight: 700;
}


.Section-ul-li-p-about {
    /*text-transform: lowercase;*/
    margin: 10px;
    font-weight: 400;
    font-size: 1.2rem;
    color: #072d2d;
    text-align: center;

}

.Section-figure-img-about {
    width: 20rem;
    height: 20rem;
    border-radius: 25%;
    margin: 30px;
    box-shadow: 0 5px 10px rgba(9, 61, 73, 0.5);
}

.Figure--img {
    width: 100%;
    width: fit-content;
    margin: 20px;
    box-shadow: 0 5px 10px rgba(9, 61, 73, 0.5);

}

.Section-figcaption-about {
    font-size: 0.95rem;
    color: #0a3a39;
    text-align: center;
    margin: 10px;
    position: relative;
    bottom: 20px;
}





/*-----------------------------------*/
/*          Noticias                 */
/*-----------------------------------*/
.Body-news {
    background-color: rgb(210, 255, 255);
    height: 100vh;
}



.Main-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 5rem;
    padding: 40px;

}

.Main-h2-news {
    font-size: 2.8rem;
    color: #0a3a39;
    font-weight: 800;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Gill Sans', sans-serif;
    font-weight: 900;
    position: relative;
    top: 1rem;
    left: 3rem;




}

.Section-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 70px;
    position: relative;
    left: 3rem;
    top: 13rem;
}

.Ul-news {
    list-style: none;
    display: block;
    padding: 30px;
    margin: 45px;

}

.Li-news {
    background-color: #f4f9fb;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(10, 19, 201, 0.5);
    color: #0a3a39;
    font-size: 1rem;
    padding: 20px;
    margin: 30px;
    text-align: center;
    width: 72%;
    position: relative;
    right: 20rem;
    bottom: 10rem;


}

.Main-img-news {
    width: 33rem;
    height: 22rem;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 0 5px 10px rgba(0, 7, 148, 0.5);
    padding: 20px;
    position: relative;
    left: 20rem;
    bottom: 41rem;


}

.Main-h3-news {
    text-align: center;
    margin: 10px;
}

.Main-p-news {
    text-align: center;
    margin: 10px;
}

.Li-news--reverse {
    position: relative;
    left: 0rem;
    bottom: 28rem;

}

.Img-reverse {
    position: relative;
    bottom: -1rem;
    width: 17rem;
    height: 13rem;
    border-radius: 10px;
}

.Main-p-news {
    margin: 10px;
    color: #072d2d;
    font-weight: 600;
    text-align: center;

}












/* ------------------------------*/
/*          Acordeon            */
/* ----------------------------*/

.Body-faq {
    background-color: rgb(210, 255, 255);
    height: 100vh;
}

.Section-faq {
    min-height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Faq-title {
    font-size: 3rem;
    margin: 2rem 0rem;
    color: #072d2d;

}

.Faq-text {
    font-size: 1.4rem;
    margin: 1rem;
    color: #072d2d;
    line-height: 1.5;
}

.Container {
    width: 1300px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 2px solid #000;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: auto;


}

.Container:hover {
    /*transform: scale(1.05);*/
    border: 3px solid #120064;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);





}

.Container-pregunta {
    font-size: 1.6rem;
    color: #072d2d;
    margin-bottom: 1rem;
    font-weight: 700;
    transition: ease-in-out 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 2px;


}




.Container-pregunta:hover {
    color: #120064;
    cursor: pointer;
    transform: scale(1.05);
    border: 2px solid #120064;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);


}

.h3-pregunta {
    font-size: 1.4rem;
}

.Container-respuesta {
    font-size: 1.1rem;
    font-weight: 600;
    min-width: 700px;
    transition: max-height 0.3s ease-in-out;
    display: none;
    color: #072d2d;
    font-weight: 600;


}


.Container-respuesta.visible {
    display: block;
}















/*-----------------------------------*/
/*            Contacto               */
/*-----------------------------------*/

.Main-section-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 50px;
    height: 100vh;
}

.Main-section-contacto-h2 {
    font-size: 2rem;
    color: #0a3a39;
    font-weight: 800;
    margin: 20px;
    text-align: center;
}

.Main-section-contacto-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 100px;
    background: #f4f9fb;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #0a3a39;
}

.Main-section-contacto-form:hover {
    box-shadow: 0 10px 10px rgba(19, 0, 159, 0.5);
    transition: 0.5s ease-in-out;

}

.Main-section-contacto-form-label {
    font-size: 1.2rem;
    color: #072d2d;
    font-weight: 600;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Gill Sans', sans-serif;
}

.Main-section-form-label-input {
    width: 100%;
    padding: 12px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #03005b;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'Gill Sans', sans-serif;

}

.Main-section-form-label-input-submit {
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    background-color: #128280;
    border: none;
    border-radius: 12px;
    padding: 8px 25px;
    margin: 15px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);

}

.Main-section-form-label-input-submit:hover {
    background-color: #0a3a39;
    color: #fff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
    padding: 10px 30px;
}




/*------------------------------------*/
/*       BTN-DARK                     */
/*------------------------------------*/

.Container-dark {
    padding: 10px;
    margin: 20px;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;




}

.Container-btn-dark {
    background-color: black;
    color: #fff;
    border-radius: 50px;
    border: none;
    padding: 25px;
    cursor: pointer;
}





/*-----------------------------------*/
/*            Footer                 */
/*-----------------------------------*/

.Footer {
    background-color: #128280;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 250px;

}

.Footer-h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
    background-color: #f4f9fb;
    color: #072d2d;
    border-radius: 5px;
    padding: 2px;

}

.Footer-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 5px;

}

.Footer-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.Footer-li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.Footer-li:hover {
    color: #23157b;
    transition: color 0.2s ease-in-out;

}


.Footer-section-ul-social {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-size: 1rem;

}

.Footer-a {
    margin: 10px;
    color: #fff;
    text-decoration: none;


}

.Footer-a:hover {
    color: #23157b;
    transition: color 0.2s ease-in-out;

}

.Footer-social-a {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    gap: 10px;
    color: white;
    text-decoration: none;
}

.Footer-social-a:hover {
    color: #23157b;
    transition: color 0.2s ease-in-out;
}

.Footer-section-ul-a {
    list-style: none;
    color: white;
    text-decoration: none;
    cursor: pointer;

}



















/*-----------------------------------*/
/*          Media Queries            */
/*-----------------------------------*/

/*Existe  un espacio entre el Header y el Nav menu al pasar a menos de 750px */



@media only screen and (max-width: 650px) {

    .Body {

        height: 100vh;

    }

    .Nav-ul {
        width: 100%;
        background-color: rgb(61, 172, 184);
    }

    .Nav-ul-li {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        padding: 8px;
        border-bottom: 1px solid rgb(235, 235, 235);

    }

    .Header-logo {
        float: none;
        text-align: center;
        width: 100%;

    }

    .Div-h2 {

        font-size: 30px;
        text-align: center;
        position: relative;
        top: 20px;


    }

    .Div-p {
        font-size: 18px;
        text-align: center;
    }

    .Main-section-ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .Section-advice {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: relative;
        right: 60px;


    }

    .Section-ul-advice {
        width: 100%;
        flex-direction: column;
        gap: 10px;


    }

    .Section-h2-advice {
        font-size: 50px;
        text-align: center;
        position: relative;
        left: 30px;

    }

}

@media only screen and (min-width: 650px) and (max-width: 1250px) {



    .Header {
        width: 1250px;
    }

    .Div-h2 {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}