* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    background-color: rgb(210, 255, 255);
}

.Header * {
    color: white;
}

.Header {
    background-color: rgb(61, 172, 184);
    height: 60px;
    padding: 10px 0px;
}

.Header-logo {
    float: left;
    height: inherit;
}

.Header-logo-title {
    margin: 5px;
}

.Header-logo-span {
    color: rgb(0, 0, 96);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.Header-logo-span-link {
    text-decoration: none;

}

.Nav-ul {
    float: right;
    list-style: none;
    padding: 0px;
    margin: 0px;

}

.Nav-ul-li {
    float: left;

}

.Nav-ul-li-a {
    display: block;
    padding: 14px 16px;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.5s, padding 0.5s, border-radius 0.5s;
    /*Aqui se le da el efecto de transicion al hover*/



}

.Nav-ul-li-a:hover {
    background-color: rgb(36, 114, 122);
    padding: 9px;
    border-radius: 5px;




    /*height: 100%;
    width: 100%;*/
    /*El hover no ocupa 100% de su tamaño !? */

    /*Como hacer que el hover sea mas suave,cuando quites el mouse ?*/

    /*Solucion de problema de espacio-con un padding de 9px no se nota que el color azul mas osuro del hover no ocupa 100% de su espacio,ya que hace el efecto que ven.*/

}

/*-----------------------------------*/
/*         Carroussel slider         */
/*-----------------------------------*/


.Main-wrapper {}

.Main-slider {
    border: 1px solid red;
}

.Main-post-wrapper {}




/*-----------------------------------*/
/*          Media Queries            */
/*-----------------------------------*/

/*Existe  un espacio entre el Header y el Nav menu al pasar a menos de 750px */


@media only screen and (max-width: 750px) {
    .Nav-ul {
        width: 100%;
        background-color: rgb(61, 172, 184);


    }

    .Nav-ul-li {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        padding: 10px;
        border-bottom: 1px solid rgb(235, 235, 235);
    }

    .Header-logo {
        float: none;
        text-align: center;
        width: 100%;

    }
}